
<link rel="stylesheet" type="text/css" href="http://localhost:8080/semestral_1_0/css/topNavBar.css" />

<ul id="navbar">
  <li><a class="active" href="http://localhost:8080/semestral_1_0">Home</a></li>
  <li><a href="http://localhost:8080/semestral_1_0/dbsRelated/StudentInfo.jsp">Students</a></li>
  <li><a href="http://localhost:8080/semestral_1_0/dbsRelated/VerbInfo.jsp">Verbs</a></li>  
  <li><a href="http://localhost:8080/semestral_1_0/dbsRelated/teacherInfo.jsp">Teachers</a></li>  
</ul>
  
  
  <!--
  <link rel="stylesheet" type="text/css" href="../../css/topNavBar.css" />

<ul id="navbar">
  <li><a <?php if(isset($active) && $active == "home") { echo 'class="active"'; } ?> href="/index.php">Home</a></li>
  <li><a <?php if(isset($active) && $active == "test") { echo 'class="active"'; } ?> href="/test/">Test</a></li>
  <li><a <?php if(isset($active) && $active == "profile") { echo 'class="active"'; } ?> href="/user/">Profile</a></li>
  
  
  
  <li> <a href="#" onclick="myForm.submit();">Print students</a></li>
  -->