table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}




body {background-color: white;}

button, input[type="submit"] {
border-radius: 10px;
border: 0;
}

input[type="text"] {
border-radius: 5px;
}

button:enabled:hover {
  background-color: orange;
}

textarea {
    border-radius: 5px;
    border: none;
}
​textarea:focus { 
    border: 10;
	outline: 2px solid blue; 
}​
