/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2017, 20:17:27
    Author     : Honza
*/

ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#navbar li {
    float: left;
}

ul#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navbar li:hover:not(.active),a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
